body {font-family:Verdana,Arial,Helvetica;}
td {padding:2pt;
  margin-left: 160px;
}
.copyright {font-size:8pt;color:Gray;}
.tablebody {color: Gray;font-size:10pt;}
.altRow {background-color: #fbefac;}
.selRow {background-color:blue;color:#ffffff;}
.pageWidth {width:1000px;}
.breadcrumb {font-size:x-small;padding-left:8pt;}